# Ejercicios Pair Programming - M√≥dulo 2 Sprint 2
## Lecci√≥n 5 - LimpiezaV
### Natalia Garc√≠a Lago y Noemi Azor√≠n

En este caso trabajaremos con el dataframe que limpiamos en el ejercicio de pair de Limpieza anterior, el de Limpieza III, donde limpiabamos las columnas de species, age, etc. y eliminabamos los outliers.

Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.


- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?


- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?


- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?


- ¬øEn qu√© mes ocurren m√°s ataques?


- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?


- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?


De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no. **Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!

In [107]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [134]:
ataques = pd.read_csv("../ficheros/ataques_limpiezaIII.csv", index_col= 0 )
ataques.reset_index(inplace = True, drop = True)
ataques.head(2)

,case_number,year,type,country,activity,age,species_,mes,fatal,sex,especies,edad
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,Jun,N,F,Tibur√≥n Blanco,57
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,Jun,Y,M,Tibur√≥n tigre,18

1. Es el momento de eliminar los nulos:


    - Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.


    - Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.

    üí° Pista üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.


    - Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.


    - Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.


    - Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.


    - ¬øPodr√≠ais explicar qu√© diferencia hay entre estos dos √∫ltimos m√©todos?

In [135]:
# Reemplazo los nulos de edad por media con Simpleimputer
imputer = SimpleImputer(missing_values= np.nan, strategy='mean', copy = False)

In [136]:
imputer = imputer.fit(ataques[["edad"]])

In [137]:
imputer.transform(ataques[["edad"]])

array([[57.],
       [18.],
       [15.],
       ...,
       [ 0.],
       [ 0.],
       [15.]])

In [127]:
# Comprobamos cambios realizados
ataques.isnull().sum()

case_number            0
year                   0
type                   0
country               10
activity              31
age                  154
species_             126
mes                  218
fatal                 97
sex                   15
especies             126
edad                   0
replace_moda_sex       0
replace_moda_type      0
dtype: int64

In [113]:
# Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.
imputer_moda = SimpleImputer(missing_values=np.nan, strategy='most_frequent', copy = True, verbose = 0)

In [114]:
imputer_moda = imputer_moda.fit(ataques[["sex"]])

In [129]:
imputer_moda.transform(ataques[["sex"]])

array([['F'],
       ['M'],
       ['M'],
       ...,
       ['M'],
       ['M'],
       ['M']], dtype=object)

In [130]:
ataques.isnull().sum()

case_number            0
year                   0
type                   0
country               10
activity              31
age                  154
species_             126
mes                  218
fatal                 97
sex                   15
especies             126
edad                   0
replace_moda_sex       0
replace_moda_type      0
dtype: int64

In [117]:
# Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.
imputer_moda_type = SimpleImputer(missing_values=np.nan, strategy='most_frequent', copy = True, verbose = 0)

In [118]:
imputer_moda_type = imputer_moda_type.fit(ataques[["type"]])

In [119]:
ataques["replace_moda_type"] = imputer_moda.transform(ataques[["type"]])

In [120]:
ataques.isnull().sum()

case_number            0
year                   0
type                   0
country               10
activity              31
age                  154
species_             126
mes                  218
fatal                 97
sex                   15
especies             126
edad                   0
replace_moda_sex       0
replace_moda_type      0
dtype: int64

In [121]:
#KNN
numericas = ataques.select_dtypes(include = np.number)
numericas.isnull().sum()

year    0
edad    0
dtype: int64

2. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair