# Ejercicios Pair Programming - Módulo 2 Sprint 2
## Lección 3 - ETL 2.1
### Natalia García Lago y Noemi Azorín

En la lección de hoy aprendimos como Crearnos una clase que nos permita limpiar los datos obtenidos de la API.


En este ejercicio, tendréis que crear una clase con el código que usamos en los ejercicios de pair programming de ETL Transformación I y II.

In [19]:
import pandas as pd
import requests
from datetime import datetime, timedelta
import numpy as np
import ast

In [20]:
df_clima = pd.read_csv("../ficheros/ETL2.csv", index_col= 0)
df_clima.reset_index()

,index,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,Australia,89.375000,95.703125,109.609375,113.906250,118.906250,123.750000,134.062500,137.421875,151.484375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,New Zealand,-1783.171875,130.234375,158.906250,172.187500,174.609375,165.156250,152.578125,150.234375,151.015625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Papua New Guinea,-9999.000000,-9999.000000,-9999.000000,167.265625,232.343750,273.828125,249.687500,151.640625,99.921875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,South Africa,-9999.000000,-9999.000000,148.359375,187.343750,189.140625,195.781250,177.812500,148.906250,139.218750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,-9999.000000,176.328125,187.890625,204.140625,225.625000,251.484375,248.046875,246.640625,255.468750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,6210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,3.0,6.0,7.0,6.313925
4336,6212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,3.0,14.0,7.0,6.313925
4337,6213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,2.0,14.0,7.0,6.313925
4338,6214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,2.0,14.0,7.0,6.313925
4339,6215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,2.0,14.0,7.0,6.313925

In [21]:
df_ataques = pd.read_csv("../ficheros/attacks_limpieza_completa.csv", index_col = 0)
df_ataques.head()

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,3,8.403629
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925
4,2018,Provoked,mexico,27.0,Tiger shark,Jun,N,M,23.658512,-102.007710,...,1,0,0,1,0,0,2,7,4,6.313925

In [22]:
dic = {"USA": [-100.445882, 39.7837304], "Australia": [134.755,-24.7761086], 
        "South Africa" : [24.991639,-28.8166236], "New Zealand": [172.8344077,-41.5000831], 
        "Papua New Guinea": [144.2489081,-5.6816069] }

In [23]:
class Extraccion: 
    # primero tenemos que crear el constructor con la variable dic en referencia al diccionario con la información de paises, longitudes y latitudes
    def __init__(self, dic):

        # definimos la variable con  el método .self 
        self.dic = dic

    # definimos el método para la llamada a la API
    
    def llamada_API(self, producto):
        
        # producto es una variable nueva, por lo que lo primero que tenemos que hacer es definirla
        self.producto = producto

        df_final =  pd.DataFrame()
        for k, v in self.dic.items():
    
        # hacemos la llamada  a la API
        
         url = f'http://www.7timer.info/bin/api.pl?lon={v[0]}&lat={v[1]}&product={producto}&output=json'

        response = requests.get(url=url)
        codigo_estado = response.status_code
        razon_estado = response.reason
        if codigo_estado == 200:
            print('La peticion se ha realizado correctamente, se ha devuelto el código de estado:',codigo_estado,' y como razón del código de estado: ',razon_estado)
        elif codigo_estado == 402:
            print('No se ha podido autorizar usario, se ha devuelto el código de estado:', codigo_estado,' y como razón del código de estado: ',razon_estado)
        elif codigo_estado == 404:
            print('Algo ha salido mal, el recurso no se ha encontrado,se ha devuelto el código de estado:', codigo_estado,' y como razón del código de estado: ',razon_estado)
        else:
            print('Algo inesperado ha ocurrido, se ha devuelto el código de estado:', codigo_estado,' y como razón del código de estado: ',razon_estado)

        # convertimos los resultados en un dataframe: 
        df = pd.json_normalize(response.json()['dataseries'])
        df['latitud'] = v[1]
        df['longitud'] = v[0]
        df['pais'] = k
        df_final = pd.concat([df_final,df], axis=0, ignore_index=True) 
         
        return df_final

### Comprobamos el funcionamiento de la llamada a la API:

In [24]:
api = Extraccion(dic)

In [25]:
api

In [26]:
df_clima_extrac = api.llamada_API("civil")

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200  y como razón del código de estado:  OK

In [27]:
df_clima_extrac.head()

,timepoint,cloudcover,lifted_index,prec_type,prec_amount,temp2m,rh2m,weather,wind10m.direction,wind10m.speed,latitud,longitud,pais
0,3,9,2,rain,1,12,99%,lightrainnight,NW,2,-5.681607,144.248908,Papua New Guinea
1,6,9,2,rain,1,11,99%,lightrainnight,NW,2,-5.681607,144.248908,Papua New Guinea
2,9,9,2,none,1,11,96%,cloudyday,NW,2,-5.681607,144.248908,Papua New Guinea
3,12,9,-1,none,1,20,66%,cloudyday,NE,2,-5.681607,144.248908,Papua New Guinea
4,15,9,-1,rain,1,24,64%,lightrainday,NE,2,-5.681607,144.248908,Papua New Guinea